{% import_yaml 'grub/defaults.yaml' as default_settings %}

{% set os_map = salt['grains.filter_by']({
    'Fedora': {
      'pkgs': [ 'grub2-tools-efi' ],
    },
    'CentOS': {
      'pkgs': [ 'grub2-efi-x64', 'grub2-tools-extra' ],
    },
    'SUSE': {
      'pkgs': [ 'grub2-x86_64-efi', 'grub2-i386-pc', 'grub2-systemd-sleep-plugin' ],
    },
  }, grain='os', merge=salt['pillar.get']('grub:lookup')) %}

{% do default_settings.grub.update(os_map) %}

{% set grub_settings = salt['pillar.get'](
    'grub',
    default=default_settings.grub,
    merge=True) %}
