{% import_yaml 'grub/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'RedHat': {
      'pkgs': [ 'grub2-tools', 'grub2-tools-efi', 'grub2-tools-extra', 'grubby' ],
    },
  }, grain='os', merge=default_settings) %}

{% set os_map = salt['grains.filter_by']({
    'Fedora': {
      'pkgs': [ 'grub2-tools', 'grubby' ],
    },
  }, grain='os', merge=os_family_map) %}

{% set grub_settings = salt['pillar.get'](
    'grub',
    default=os_map,
    merge=True
  )
%}
